<div class="app-cards">
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-users"></i></span>
            </div>
            <div class="number">
                2
            </div>
        </div>
        <div class="title">
            Devs
        </div>
    </div>
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-th"></i></span>
            </div>
            <div class="number">
                4
            </div>
        </div>
        <div class="title">
            Apps
        </div>
    </div>
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-bug"></i></span>
            </div>
            <div class="number">
                6
            </div>
        </div>
        <div class="title">
            Bugs
        </div>
    </div>
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-check"></i></span>
            </div>
            <div class="number">
                3
            </div>
        </div>
        <div class="title">
            Fixed
        </div>
    </div>
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-spinner"></i></span>
            </div>
            <div class="number">
                2
            </div>
        </div>
        <div class="title">
            Progress
        </div>
    </div>
    <div class="app-card">
        <div class="metat-data">
            <div class="icon">
                <span><i class="fas fa-pause"></i></span>
            </div>
            <div class="number">
                1
            </div>
        </div>
        <div class="title">
            Waiting
        </div>
    </div>
</div>
