// FONTS

$font-family : 'Readex Pro', sans-serif;

// FONT WEIGHT
$font-weight-light : 300;
$font-weight-regular : 400;
$font-weight-medium : 500;
$font-weight-semi-bold : 600;
$font-weight-bold : 700;


// COLORS
$light-blue-color : #8A88B7;
$white-color : #FFFFFF;
$primary-color : #144884;
$secondary-color : #2C2F33;
$light-secondary-color : #2C2F33D7;
$danger-color : #FF6363;
$warning-color : #FFFFBC;


// FONT SIZES
$h1-font-size : 48px;
$h2-font-size : 38px;
$h3-font-size : 28px;
$h4-font-size : 25px;
$h5-font-size : 22px;
