<header id="app-header">
    <div class="header-left">
        <div id="menu-trigger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <h4 class="header-title">
            {{ currentComponentTitle }}
        </h4>
    </div>
    <div class="header-right">
        <div id="notifications">
          <span>
            <i class="fas fa-bell"></i>
          </span>
        </div>
        <div id="user-profile">
            <img class="avatar" [src]="'assets/img/user.png'" alt="Logo de l'utilisateur">
            <div id="info">
                <h5>CHOCO-CODE</h5>
                <small>ROLE_ADMIN</small>
            </div>
        </div>
    </div>
</header>
